.about {
  max-width: 100%;
  padding: 0;
  margin: 0 auto 108px;
}

.about__wrapper {
  max-width: 985px;
  padding: 0 63px 0 235px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.about__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 220px;
  height: 317px;
  background: url("../img/year2005.png") no-repeat;
  left: 27px;
  top: 2px;

  @media (min-resolution: 2dppx) {
    background: url("../img/year2005@2x.png") no-repeat;
    width: 220px;
    height: 317px;
    background-size: cover;
  }
}

.about__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 27px;
}

.about__item {
  padding: 0;
  margin: 0 0 12px 0;
}

.about__wrapper h2 {
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $gray66;
  padding: 0;
  margin: 0 0 4px 0;
}

.about__item p {
  font-family: $monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $gray66;
}

.about__purveyors span:nth-child(1) {
  @media (min-width: 1024px) {
    display: none;
  }
}

.about__button {
  text-decoration: none;
  width: 180px;
  height: 45px;
  border: 1px solid $blue;
  border-radius: 5px;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;

  &:hover {
    @include hover1;
  }
}

@media (max-width: $desktop-width) {
  .about {
    max-width: 100%;
    padding: 0 0 20px 0;
    margin: 0 auto 62px;
  }

  .about__wrapper {
    max-width: 1020px;
    padding: 0 25px 0 213px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .about__wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 243px;
    height: 362px;
    background: url("../img/tablet/year2005-tablet.png") no-repeat;
    left: 1px;
    top: -3px;

    @media (min-resolution: 2dppx) {
      background: url("../img/tablet/year2005-tablet@2x.png") no-repeat;
      width: 243px;
      height: 362px;
      background-size: cover;
    }
  }

  .about__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .about__item {
    padding: 0;
    margin: 0 0 20px 0;
  }

  .about__wrapper h2 {
    font-family: $sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 140.62%;
    color: $gray66;
    padding: 0;
    margin: 0 0 25px 0;
  }

  .about__item p {
    font-family: $monospace;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $gray66;
    padding: 0;
    margin: 0;
  }

  .about__purveyors span:nth-child(2) {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .about__button {
    text-decoration: none;
    width: 180px;
    height: 45px;
    border: 1px solid $blue;
    border-radius: 5px;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blue;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: $tablet-width) {
  .about {
    max-width: 100%;
    padding: 0 0 20px 0;
    margin: 0 15px 45px 15px;
  }

  .about__wrapper {
    max-width: unset;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .about__wrapper::after {
    display: none;
  }

  .about__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 8px 0;
  }

  .about__item {
    padding: 20px 0;
    margin: 0;
  }

  .about__wrapper h2 {
    font-family: $sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    color: $gray66;
    padding: 0;
    margin: 0 0 0 0;
  }

  .about__item p {
    font-family: $monospace;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $gray66;
    padding: 0;
    margin: 0;
  }

  .about__button {
    text-decoration: none;
    width: 180px;
    height: 45px;
    border: 1px solid $blue;
    border-radius: 5px;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blue;
    padding: 0;
    margin: 0;
  }
}
