.main-info {
  margin: 0 auto;
  padding: 189px 0 185px 0;
  width: 100%;
  position: relative;
  grid-area: main;
}

.main-info::before {
  width: 705px;
  height: 515px;
  content: "";
  display: block;
  position: absolute;
  background: url("../img/motherboard.png") no-repeat;
  z-index: 0;
  top: 133px;
  left: 55%;

  @media (min-resolution: 2dppx) {
    background: url("../img/motherboard@2x.png") no-repeat;
    width: 705px;
    height: 515px;
    background-size: cover;
  }
}

.main-info::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 611px;
  height: 487px;
  background: url("../img/icons/double-triangle.svg") no-repeat;
  background-position: center;
  top: 146px;
  left: 77%;
  transform: translateX(-50%);
  z-index: -2;
}

.main-info__wrapper {
  max-width: 100%;
  margin: 0 0 0 24px;
  padding: 0 0 50px;
}

.main-info__wrapper h1 {
  padding: 0;
  margin: 0 0 28px 0;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
  max-width: 750px;

  @media (max-width: 1220px) {
    max-width: 650px;
  }
}

.main-info__wrapper p {
  padding: 0 0 0 95px;
  margin: 0 0 43px 0;
  font-family: $monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  max-width: 690px;
  position: relative;

  @media (max-width: 1420px) {
    max-width: 420px;
  }
}

.main-info__wrapper p::before {
  display: block;
  content: "";
  position: absolute;
  width: 66px;
  height: 2px;
  background-color: white;
  z-index: 55;
  top: 16px;
  left: 2px;
}

.main-info__button {
  margin: 0 0 0 97px;
  width: 407px;
  height: 55px;
  background: $blue;
  border-radius: 5px;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;

  &:hover {
    @include hover2;
  }
}

.main-info__button span:last-child {
  display: none;
}

@media (max-width: $desktop-width) {
  .main-info {
    margin: 0 auto;
    padding: 107px 0 0 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .main-info::after {
    content: "";
    display: block;
    position: absolute;
    width: 529px;
    height: 506px;
    background: url("../img/tablet/double-triangle-tablet.svg") no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    top: -121px;
    left: 54%;
    transform: unset;
    z-index: -2;
  }

  .main-info::before {
    width: 260px;
    height: 340px;
    content: "";
    display: block;
    position: absolute;
    background: url("../img/tablet/motherboard-tablet.png") no-repeat;
    z-index: 0;
    top: 32px;
    left: unset;
    right: 25px;

    @media (min-resolution: 2dppx) {
      background: url("../img/tablet/motherboard-tablet@2x.png") no-repeat;
      width: 260px;
      height: 340px;
      background-size: cover;
    }
  }

  .main-info__wrapper {
    max-width: 1464px;
    margin: 0 auto;
    padding: 0 0 123px 0;
  }

  .main-info__wrapper h1 {
    padding: 0;
    margin: 0 0 28px 63px;
    font-size: 60px;
    line-height: 70px;
    max-width: 500px;
  }

  .main-info__wrapper p {
    padding: 0 0 0 114px;
    margin: 0 0 55px 0;
    font-size: 18px;
    line-height: 156.8%;
    max-width: 470px;
    position: relative;
  }

  .main-info__wrapper p::before {
    display: block;
    content: "";
    position: absolute;
    width: 33px;
    height: 2px;
    background-color: white;
    z-index: 55;
    top: 16px;
    left: 66px;
  }

  .main-info__button {
    margin: 0 0 0 115px;
    width: 379px;
    height: 55px;
    background: $blue;
    border-radius: 5px;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: $tablet-width) {
  .main-info {
    margin: 0 auto;
    padding: 216px 0 0 0;
    width: 100%;
    height: 100%;
    position: relative;
    grid-area: main;
  }

  .main-info::after {
    content: "";
    display: block;
    position: absolute;
    width: 506px;
    height: 484px;
    background: url("../img/mobile/double-triangle-mobile.svg") no-repeat;
    background-position: center;
    left: 42%;
    top: -117px;
  }

  .main-info::before {
    width: 294px;
    height: 220px;
    content: "";
    display: block;
    position: absolute;
    background: url("../img/mobile/motherboard-mobile.png") no-repeat;
    right: 15px;
    bottom: unset;
    z-index: -1;
    top: 22px;

    @media (min-resolution: 2dppx) {
      background: url("../img/mobile/motherboard-mobile@2x.png") no-repeat;
      width: 294px;
      height: 220px;
      background-size: cover;
    }
  }

  .main-info__wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 0;
  }

  .main-info__wrapper h1 {
    padding: 0;
    margin: 0 0 28px 0;
    font-size: 40px;
    line-height: 47px;
    max-width: 500px;

    @media (max-width: 475px) {
      max-width: 300px;
    }
  }

  .main-info__wrapper p {
    padding: 0 0 0 50px;
    margin: 0 0 39px;
    font-size: 16px;
    line-height: 156.8%;
    max-width: 360px;
    width: 75%;
    position: relative;
  }

  .main-info__wrapper p::before {
    display: block;
    content: "";
    position: absolute;
    width: 33px;
    height: 2px;
    background-color: white;
    z-index: 5;
    top: 14px;
    left: 2px;
  }

  .main-info__button {
    margin: 0 0 0 0;
    width: 90%;
    max-width: 360px;
    height: 55px;
    background: $blue;
    border-radius: 5px;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

  .main-info__button span:first-child {
    display: none;
  }

  .main-info__button span:last-child {
    display: inline;
  }
}
