.page-header {
  width: 100%;
  margin: 0 0 112px 0;
  padding: 0 0 40px 0;
  min-height: 838px;
  background: $gray3 url("../img/background-top.png") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.page-header__wrapper {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;

  @media (min-width: 1023px) and (max-width: 1524px) {
    max-width: calc(1vw * 1470 / (1524 / 100));
  }
}

.page-header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 33px 0 0 0;
  margin: 0 0 10px 0;
}

.page-header__logo-area {
  padding: 0;
  margin: 0 0 0 28px;
  width: 210px;
}

.page-header__logo-content {
  cursor: default;
  display: flex;
  justify-content: space-between;
  width: 202px;
  height: 52px;
}

.page-header__logo-img {
  width: 52px;
  height: 52px;
}

.logo-area__img-text {
  width: 133px;
  height: 40px;
  padding: 11px 0 0 0;
}

.page-header__logo-text {
  padding: 7px 0 0 0;
}

.page-header__logo-text p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $white;
  z-index: 5;
}

.page-header__logo-text p:not(:first-child) {
  font-family: $monospace;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.page-header__contacts-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.page-header__contacts-list {
  padding: 18px 0 0 0;
  margin: 0 39px 21px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  list-style-type: none;
  align-items: center;
}

.page-header__contacts-item {
  margin: 0 0 26px 22px;
  position: relative;
  align-self: flex-start;
  min-width: 201px;
}

.page-header__contacts-item p {
  padding: 0;
  margin: 0;
  font-family: $monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $white;
}

.page-header__contacts-content {
  padding: 0;
  margin: 0;
  display: flex;
  text-decoration: none;
}

.page-header__contacts-content:hover p {
  @include hover3;
}

.page-header__button-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100;
  justify-content: flex-start;
  padding: 4px 33px 0 1px;
}

.page-header__button-item {
  margin: 0 0 15px 8px;
}

.page-header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 180px;
  height: 45px;
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  font-family: $sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;

  &:hover {
    @include hover2;
  }
}

.page-header__contacts-mail-icon {
  margin: 3px 20px 0 0;
}

.page-header__contacts-phone-icon {
  margin: 0 16px 0 0;
}

@media (max-width: $desktop-width) {
  .page-header {
    margin: 0 0 53px 0;
    padding: 0 0 40px 0;
    width: 100%;
    min-height: 646px;
    background: $gray3 url("../img/tablet/background-top-tablet.png") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
  }

  .page-header__wrapper {
    height: 100%;
    max-width: unset;
    margin: 0 auto;
    padding: 19px 25px 0;
    z-index: 5;
    position: relative;
  }

  .page-header__top {
    padding: 0;
  }

  .page-header__logo-area {
    padding: 0;
    margin: 0 25px 0 0;
    width: unset;
  }

  .page-header__logo-content {
    display: flex;
    justify-content: space-between;
    width: 202px;
    height: 52px;
  }

  .page-header__logo-text {
    padding: 7px 0 0 0;
  }

  .page-header__logo-text p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: $white;
    z-index: 5;
  }

  .page-header__logo-text p:not(:first-child) {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #788891;
  }

  .page-header__contacts-list {
    padding: 6px 25px 0 0;
    margin: 0 25px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    align-items: center;
  }

  .page-header__contacts-item {
    margin: 4px 0 0 29px;
    position: relative;
    min-width: min-content;

    @media (min-width: 1023px) and (max-width: 1920px) {
      margin-left: calc(1vw * 88 / (1920 / 100));
    }
  }

  .page-header__contacts-item p {
    display: none;
  }

  .page-header__contacts-content {
    padding: 0;
    margin: 0;
    display: flex;
    text-decoration: none;
  }

  .page-header__contacts-content:hover {
    stroke: rgba(0, 178, 255, 0.8);
  }

  .page-header__button-list {
    display: none;
  }

  .page-header__contacts-mail-icon {
    margin: 6px 0 0 0;
    width: 29px;
    height: 19px;
  }

  .page-header__contacts-phone-icon {
    margin: 3px 0 0 0;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    margin: 0 0 37px 0;
    padding: 0 0 40px 0;
    width: 100%;
    min-height: 607px;
    background: $gray3 url("../img/mobile/background-top-mobile.png") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
  }

  .page-header__wrapper {
    height: 100%;
    max-width: unset;
    margin: 0 auto;
    padding: 19px 16px 0;
    z-index: 5;
    position: relative;
  }

  .page-header__logo-area {
    padding: 0;
    margin: 0;
    width: 75px;
  }

  .page-header__logo-content {
    display: flex;
    justify-content: space-between;
    width: 70px;
    height: 41px;
  }

  .page-header__logo-img {
    width: 38px;
    height: 38px;
  }

  .logo-area__img-text {
    display: none;
  }

  .page-header__contacts-wrapper {
    margin: 0 6px 0 0;
  }

  .page-header__contacts-list {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    align-items: flex-start;
  }

  .page-header__contacts-item {
    margin: 4px 19px 0 0;
    position: relative;
    min-width: 31px;
  }

  .page-header__contacts-item p {
    display: none;
  }

  .page-header__contacts-content {
    padding: 0;
    margin: 0;
    display: flex;
    text-decoration: none;
  }

  .page-header__button-list {
    display: none;
  }

  .page-header__contacts-mail-icon {
    margin: 3px 0 0 0;
    width: 29px;
    height: 19px;
  }

  .page-header__contacts-phone-icon {
    margin: 0 0 0 0;
    width: 24px;
    height: 24px;
  }
}
