.popup {
  width: 100%;

  @media only screen and (max-height: 762px) {
    overflow: auto;
  }

  @media (min-width: 0) and (max-width: 1023px) {
    display: none;
  }
}

.popup__form {
  width: 490px;
  min-height: 605px;
  margin: 100px auto 250px;
  background: $blue;
  padding: 29px 40px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}

.popup__button-close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  top: 17px;
  right: 25px;
  cursor: pointer;

  &::before {
    @include pseudo;
    width: 20px;
    height: 1px;
    background: $white;
    border-radius: 5px;
    transform: rotate(45deg);
  }

  &::after {
    @include pseudo;
    width: 20px;
    height: 1px;
    background: $white;
    border-radius: 5px;
    transform: rotate(-45deg);
  }
}

.popup__button-close--hidden {
  display: none;
}

.popup p {
  width: 100%;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  color: $white;
  padding: 0;
  margin: 0 0 11px 0;
}

.popup__form span {
  font-family: $monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  margin: 0 15px 32px 0;
  display: block;
}

.popup__form-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

.popup__form-item {
  width: 100%;
  margin: 0 0 29px;
}

.popup__form-item input {
  display: block;
  width: 100%;
  padding: 0 0 0 23px;
  height: 52px;
}

.popup__form-item textarea {
  padding: 13px 0 0 24px;
  max-height: 104px;
}

.popup__form-button {
  width: 100%;
  height: 46px;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: transparent;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 35px 0;

  &:hover {
    @include hover2;
  }
}

.popup__form-checkbox label {
  padding: 0 0 0 48px;
  width: 80%;

  &::after {
    top: 4px;
    left: 4px;
  }

  &::before {
    top: 0;
    left: 0;
  }
}

.popup--hidden {
  display: none;
}

.popup--show {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
}
