.sections-hidden__address-click,
.sections-hidden__site-click {
  @media (min-width: 0) and (max-width: 767px) {
    cursor: pointer;
  }
}

.sections-hidden__list--hidden {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1024px) {
    display: grid;
  }
}

.sections-hidden__button-address--hidden,
.sections-hidden__button-site--hidden {
  display: none;
}

.sections-hidden__button-address--open::before,
.sections-hidden__button-site--open::before {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 1px;
  background: #c4c4c4;
  left: 1px;
  top: 50%;
}

.sections-hidden__button-address--closed::after,
.sections-hidden__button-site--closed::after {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 1px;
  background: #c4c4c4;
  left: 1px;
  top: 50%;
  transform: rotate(90deg);
}
