.logo-area__text p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  z-index: 5;
}

.logo-area__text p:not(:first-child) {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

