.page {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-family: "PT Mono", "Courier", monospace;
  font-size: 16px;
  line-height: 19px;
  scroll-behavior: smooth;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
